@import '@/assets/scss/fonts.scss';

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 2rem;
}
.marker-cluster div {
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;

  text-align: center;
  border-radius: 1.5rem;
  font-family: 'BCSans', Fallback, sans-serif;
  font-size: 1.2rem;
}
.marker-cluster span {
  line-height: 3rem;
}
