version: "3.5"

services:
  ####################### Keycloak #######################
  keycloak:
    restart: on-failure:1
    container_name: psp-keycloak
    build:
      context: ./auth/keycloak
    env_file:
      - auth/keycloak/.env
    volumes:
      - ./auth/keycloak/config/realm-export.json:/tmp/realm-export.json
    ports:
      - ${KEYCLOAK_PORT:-8080}:8080
    networks:
      - psp

  ####################### Database #######################
  database:
    restart: on-failure:1
    container_name: psp-db
    build:
      context: database/mssql
    env_file:
      - database/mssql/.env
    ports:
      - ${DATABASE_PORT:-5433}:1433
    volumes:
      - api-db-data:/var/opt/mssql
    networks:
      - psp

  ####################### Backend #######################
  backend:
    restart: on-failure:1
    container_name: psp-api
    build:
      context: backend
      args:
        BUILD_CONFIGURATION: Debug
    env_file: backend/api/.env
    ports:
      - ${API_HTTPS_PORT:-5001}:443
      - ${API_HTTP_PORT:-5000}:8080
    depends_on:
      - database
      - keycloak
    networks:
      - psp

  ####################### Frontend #######################
  frontend:
    stdin_open: true
    tty: true
    restart: on-failure:1
    container_name: psp-app
    build:
      context: frontend
    volumes:
      - ./frontend/src:/usr/app/src
      - ./frontend/public:/usr/app/public
      - frontend-node-cache:/usr/app/node_modules
    ports:
      - ${APP_HTTP_PORT:-3000}:3000
    depends_on:
      - backend
    env_file: ./frontend/.env
    networks:
      - psp

####################### Networks Definition #######################
networks:
  psp:
    name: psp-net
    driver: bridge

####################### Volumes Definition #######################
volumes:
  api-db-data:
    name: psp-api-db-data
  frontend-node-cache:
    name: psp-frontend-node-cache
