@import '@/assets/scss/colors.scss';

.tooltip-icon {
  min-width: 1.4rem;
  min-height: 1.4rem;
  svg {
    min-width: 1.4rem;
    min-height: 1.4rem;
    max-width: 1.4rem;
    max-height: 1.4rem;
  }
  color: $active-action-color;
  margin: 0rem 0.2rem;
  align-self: center;
}

.tooltip-icon.warning {
  color: $text-warning-color;
  margin: 0rem 0.2rem;
}

.tooltip {
  white-space: pre-wrap;
  .tooltip-inner {
    text-align: left;
    max-width: 40rem;
    background-color: var(--theme-blue-80);
    color: #ffffff;
  }
  &.bs-tooltip-top .arrow::before {
    border-top-color: var(--theme-blue-80);
  }
  &.bs-tooltip-right .arrow::before {
    border-right-color: var(--theme-blue-80);
  }
  &.bs-tooltip-left .arrow::before {
    border-left-color: var(--theme-blue-80);
  }
  &.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--theme-blue-80);
  }
}

.tooltip.warning {
  white-space: pre-wrap;
  .tooltip-inner {
    text-align: left;
    max-width: 40rem;
    background-color: $warning-background-color;
    color: $text-warning-color;
    font-weight: 700;
  }
  &.bs-tooltip-top .arrow::before {
    border-top-color: var(--support-surface-color-warning);
  }
  &.bs-tooltip-right .arrow::before {
    border-right-color: var(--support-surface-color-warning);
  }
  &.bs-tooltip-left .arrow::before {
    border-left-color: var(--support-surface-color-warning);
  }
  &.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--support-surface-color-warning);
  }
}

.tooltip.tooltip-light {
  .tooltip-inner {
    background-color: $filter-box-color;
  }
  &.bs-tooltip-top .arrow::before {
    border-top-color: $filter-box-color;
  }
  &.bs-tooltip-right .arrow::before {
    border-right-color: $filter-box-color;
  }
  &.bs-tooltip-left .arrow::before {
    border-left-color: $filter-box-color;
  }
  &.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $filter-box-color;
  }
}

.tooltip.show {
  opacity: 1;
}
