@import '@/assets/scss/colors.scss';

.legend-control {
  &.card {
    font-family: 'BCSans', Fallback, sans-serif;
    font-size: 1.6rem;
    min-width: 33rem;
    .card-header {
      font-family: 'BCSans-Bold';
      font-size: 1.8rem;
      padding: 1.75rem;
      padding-bottom: 0.25rem;
      margin-bottom: 0;
      border-bottom: none;
      background-color: #fff;
      color: var(--typography-color-secondary);
    }
    .card-body {
      padding-bottom: 1.75rem;
      padding-right: 1.75rem;
      .row {
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
        .col {
          display: flex;
          align-items: center;
          color: var(--typography-color-secondary);
        }
      }
    }
  }
}
