@import '@/assets/scss/colors.scss';

.legend-control {
  &.card {
    min-width: 20rem;
    .card-header {
      margin-bottom: 0;
      border-bottom: none;
      background-color: #fff;
      font-weight: 900;
      color: $text-color;
    }
    .card-body {
      padding-top: 0rem;
      padding-bottom: 1rem;
      .row {
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
        .col {
          display: flex;
          align-items: center;
          color: $text-color;
        }
      }
    }
  }
}
