# Editor configuration, see https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.env]
insert_final_newline = false

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab

[*.cs]
indent_size = 4

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning
# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = warning
# CA1816: Call GC.SuppressFinalize correctly
dotnet_diagnostic.CA1816.severity = error
# CA1063: Implement IDisposable correctly
dotnet_diagnostic.CA1063.severity = error
# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none
# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = error
# CA1508: Avoid dead conditional code
dotnet_diagnostic.CA1508.severity = none #TODO: Requires further analysis
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none # #TODO: Requires further analysis
# CA1801: Review unused parameters
dotnet_diagnostic.CA1801.severity = none # #TODO: Requires further analysis
# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = warning
# CS1591: Missing XML comment
dotnet_diagnostic.CS1591.severity = none
# CS8019: Using directive is unnecessary.
dotnet_diagnostic.CS8019.severity = warning

# SonarQube
# S4487 Unread "private" fields should be removed.
dotnet_diagnostic.S4487.severity = warning
# S927 Parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = error
# S1006 Remove the default parameter value to match the signature of overridden method
dotnet_diagnostic.S1006.severity = error
# S3928 The parameter name '{param}' is not declared in the argument list
dotnet_diagnostic.S3928.severity = error
# S1481 Remove the unused local variable
dotnet_diagnostic.S1481.severity = warning
# S1135 Complete the task associated to this 'TODO' comment
dotnet_diagnostic.S1135.severity = none
# S1116 Remove empty statement
dotnet_diagnostic.S1116.severity = warning
# S1118 Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = error
# S3925 "ISerializable" should be implemented correctly
dotnet_diagnostic.S3925.severity = error
# S4457 Parameter validation in "async"/"await" methods should be wrapped
dotnet_diagnostic.S4457.severity = error
# S3442 "abstract" classes should not have "public" constructors
dotnet_diagnostic.S3442.severity = error
# S125 Remove commented out code
dotnet_diagnostic.S125.severity = warning
# S4136 Method overloads should be adjacent
dotnet_diagnostic.S4136.severity = none
# S1128 Remove this unnecessary 'using'
dotnet_diagnostic.S1128.severity = warning

# StyleCop
# SA1600 Elements should be documented
dotnet_diagnostic.SA1600.severity = none
# SA1516 Elements should be separated by blank line 
dotnet_diagnostic.SA1516.severity = none
# SA1200 Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none
# SA1633 The file header is missing or not located at the top of the file. 
dotnet_diagnostic.SA1633.severity = none
# SA1642 Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = none
# SA1614 Element parameter documentation should have text 
dotnet_diagnostic.SA1614.severity = none
# SA1101 Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
# SA1616 Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none
# SA1208 Using directive for 'X' should appear before directive 'Y'
dotnet_diagnostic.SA1208.severity = warning
# SA1623 The property's documentation summary text should begin with: 'Gets or sets'
dotnet_diagnostic.SA1623.severity = none
# SA1309 Field should not begin with an underscore
dotnet_diagnostic.SA1309.severity = none
# SA1513 Closing brace should be followed by an empty line
dotnet_diagnostic.SA1505.severity = none
# SA1505 Opening brace should be followed by an empty line
dotnet_diagnostic.SA1513.severity = none
# SA1124 Do not use regions
dotnet_diagnostic.SA1124.severity = none
# SA1507 Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = none


# Entity Framework files
[**{entities/ef/*,PIMSContext}.cs]
# CS8019: Using directive is unnecessary.
dotnet_diagnostic.CS8019.severity = none

# SonarQube
# S1128 Remove this unnecessary 'using'
dotnet_diagnostic.S1128.severity = none
# S3251 Supply an implementation for this partial method.
dotnet_diagnostic.S3251.severity = none


