@import '../../../variables';
.accessRequestPage {
  background-color: #fff;
  overflow-y: auto;
  width: 100%;
}

.userInfo {
  width: 40%;
  vertical-align: middle;
  text-align: left;
  display: table;
}

.success {
  display: flex;
  background-color: lightgreen;
  margin: auto;
  padding: 0.5rem;
}

.success p {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.info {
  display: flex;
  background-color: lightskyblue;
  margin: auto;
  padding: 0.5rem;
}

.info p {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.notes {
  padding-bottom: 3rem;
}

.isDisabled {
  padding-bottom: 1rem;
}

.cancelSave {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.navBar {
  font-weight: 700;
  text-align: left;
}

div.required {
  color: black;
  font-weight: normal;
}

.required {
  color: red;
}
