@import '../../../../colors.scss';

.list-group {
  .list-group-item {
    padding: 0rem 0rem 0.5rem 0rem;
    border: none;
    font-family: 'BCSans', Fallback, sans-serif;
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
    color: $text-color;

    &.legal {
      padding-left: 1.5rem;
    }

    &.left-side {
      text-align: right;
    }

    .label {
      color: $light-variant-color;
      font-weight: lighter;
    }
  }
}

.header {
  border-bottom: 0.1rem solid rgba(96, 96, 96, 0.2);
  font-weight: 600;
  font-size: 1.6rem;
  color: $text-color;
  padding: 0.2rem 0rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.leaflet-control {
  margin-right: 0rem;
}

.styled-link {
  color: $slide-out-blue !important;
  font-weight: lighter;
}
