@import '../../../variables';
.user-edit-form-container {
  .userInfo {
    width: 40%;
    vertical-align: middle;
    text-align: left;
    display: table;
  }

  .notes {
    padding-bottom: 3rem;
  }

  .is-disabled {
    display: flex;
    flex-direction: row;
    align-items: center;
    :first-child {
      margin-right: 1rem;
      margin-bottom: 0rem;
    }
  }

  .cancelSave {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .navBar {
    font-weight: 700;
    text-align: left;
  }

  .required {
    color: red;
    font-weight: 700;
  }

  justify-content: center;
  margin-bottom: $footer-height;
}
