@import '../../styles.scss';
@import '../../colors.scss';
.table {
  .thead-light {
    .th {
      color: $table-header-text-color;
      background-color: $table-header-bg-color;
    }
  }
  .thead {
    .th {
      vertical-align: bottom;
      border-bottom: 0.2rem solid $table-header-border-color;
      cursor: pointer;
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: bold;
      height: 4.4rem;
    }
  }
  .tbody {
    .tr-wrapper {
      // border-bottom: 0.1rem solid $table-color;
      &:nth-child(even) {
        background-color: $table-even-row-bg-color;
      }
      &:nth-child(odd) {
        background-color: $table-odd-row-bg-color;
      }
      .tr {
        &:hover {
          background-color: $table-color;
        }
        &.selected {
          background-color: $selected-color;
        }
      }
      .tbody {
        padding-left: 5rem;
        .tr-wrapper {
          border-bottom: none;
        }
      }
    }
  }
  .table-loading,
  .no-rows-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .td,
  .th {
    padding: 0.5rem;
    vertical-align: top;
    // border-top: 0.1rem solid $table-color;
    border-right: 0.1rem solid $table-column-border-color;
    &:last-child {
      border-right: none;
    }
    &.svg-btn.expander:hover,
    &.svg-btn.expander:hover svg {
      fill: $accent-color;
    }
    &.svg-btn.reset-filter:hover,
    &.svg-btn.reset-filter:hover svg {
      fill: $accent-color;
    }
    &.expander,
    &.reset-filter {
      display: flex;
      align-items: center;

      &.svg-btn {
        display: block;
      }
    }
    &.clickable {
      cursor: pointer;
    }
    .expand-button:focus {
      background: none !important;
    }
    .sortable-column {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
    }
    .filter-wrapper {
      div {
        div {
          display: flex;
          .form-group {
            width: 100%;
            .rbt {
              width: 100%;
              div {
                input {
                  width: 100% !important;
                }
              }
              .rbt-menu {
                width: 37rem !important;
              }
            }
          }
        }
      }

      &.active {
        color: $active-color;
      }
    }
  }
}

.table-toolbar {
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  div {
    .Menu-root {
      margin-top: 0.5rem;
      margin-right: 3rem;
    }
  }
}
