@import '@/assets/scss/styles.scss';
@import '@/assets/scss/colors.scss';
.table.no-zebra-rows > .tbody > .tr-wrapper {
  &:nth-child(even) {
    background-color: $highlight-background-color;
  }
  &:nth-child(odd) {
    background-color: $highlight-background-color;
    &:last-child {
      border-bottom: 0.1rem solid $highlight-background-color;
    }
  }
}
.table {
  .thead-light {
    .th {
      color: var(--typography-color-secondary);
      background-color: var(--surface-color-forms-default);
    }
  }
  .thead {
    .th {
      border-bottom: 0.2rem solid $border-outline-color;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2.4rem;
    }
  }
  .tbody {
    .tr-wrapper {
      &:nth-child(even) {
        background-color: $highlight-background-color;
      }
      &:nth-child(odd) {
        background-color: var(--surface-color-forms-default);
        &:last-child {
          border-bottom: 0.1rem solid $highlight-background-color;
        }
      }
      .tr {
        &:hover {
          background-color: $highlight-background-color;
        }
        &.selected {
          background-color: $highlight-background-color;
        }
        &.active {
          outline: solid 2px $header-border-color;
        }
      }
      .collapse {
        padding-left: 5rem;
      }
      .tbody {
        .tr-wrapper {
          border-bottom: none;
        }
      }
    }
  }
  .table-loading,
  .no-rows-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .svg-btn {
    color: var(--typography-color-secondary);
  }

  .svg-btn:hover {
    color: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }

  .svg-btn:hover svg {
    fill: $link-hover-color;
    stroke: #fff;
  }

  .svg-btn.active {
    color: $link-hover-color;
    border-bottom-style: solid;
    border-bottom-color: var(--theme-gold-100);
    border-bottom-width: 0.1rem;
    background-color: none !important;
  }

  .svg-btn.active svg {
    fill: $link-hover-color;
    stroke: #fff;
  }

  .td,
  .th {
    min-height: 5rem;
    padding: 0.5rem 1.1rem;
    align-items: center;
    border-right: 0.1rem solid $highlight-background-color;
    &:last-child {
      border-right: none;
    }
    &.svg-btn.expander:hover,
    &.svg-btn.expander:hover svg {
      fill: var(--theme-gold-100);
    }
    &.svg-btn.reset-filter:hover,
    &.svg-btn.reset-filter:hover svg {
      fill: var(--theme-gold-100);
    }
    &.expander {
      color: var(--surface-color-primary-button-default);
    }
    &.expander,
    &.reset-filter {
      display: flex;
      align-items: center;

      &.svg-btn {
        display: block;
      }
    }
    &.clickable {
      cursor: pointer;
    }
    .expand-button:focus {
      background: none !important;
    }
    .sortable-column {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: inherit;
    }
    .filter-wrapper {
      div {
        div {
          display: flex;
          .form-group {
            width: 100%;
            .rbt {
              width: 100%;
              div {
                input {
                  width: 100% !important;
                }
              }
              .rbt-menu {
                width: 37rem !important;
              }
            }
          }
        }
      }

      &.active {
        color: $link-hover-color;
      }
    }
  }
}
