@import '@/assets/scss/colors.scss';
.help-box {
  button {
    background-color: white;
    border: none;
    border-bottom: 0.1rem solid $accent-color;
    width: 100%;
    text-align: left;
  }
  :focus {
    outline: none;
  }
  .active:after {
    content: '';
    transform: translateX(100%);
    align-self: center;
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 0.8rem solid black;
    border-right: 0.8rem solid transparent;
  }
}
