@import '~assets/scss/variables';
@import '~assets/scss/colors.scss';

.map-filter-container {
  transition: margin 1s;
}
.map {
  transition: margin 1s, width 1s;
  position: relative;
}


@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
