@import '../../../variables';
@import '../../../colors.scss';

.side-bar .map {
  margin-left: 93rem;
  width: calc(100vw - 93rem);
}

.map-filter-container {
  transition: margin 1s;
}
.map {
  transition: margin 1s, width 1s;
  position: relative;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
