.Access-Requests-filter {
  margin-right: 0rem;
  margin-left: 0rem;
  width: 100%;
  .filters {
    .col {
      display: flex;
      align-items: left;

      &.actions {
        .btn {
          margin-right: 1rem;
        }
      }
    }
  }
}
