@import '@/assets/scss/variables';
@import '@/assets/scss/colors';
$contentheading-height: 6rem;
.PropertyListView {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  .filter-container {
    padding: 0;
    background-color: $filter-background-color;
    .container {
      max-width: 136rem;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .TableToolbar {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    align-items: center;
  }
  .TableToolbar .menu {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: auto;
    margin-right: auto;
  }
  .TableToolbar .menu div {
    margin-left: 1rem;
  }
  .ScrollContainer {
    padding: 1.6rem 3.2rem;
    flex-grow: 1; // because all parents are flex and have flex-grow set to 1 this takes all available space - calc no longer needed!
    overflow-y: auto;
    table {
      background-color: #fff;
    }
    .table {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}
