@import '../../../variables';
@import '../../../colors.scss';
$filter-height: 7.6rem;
$table-fontSize: 1.3rem;

.manage-access-requests {
  margin: 1rem;

  .ScrollContainer {
    padding-bottom: 2.5rem;
    .TableToolbar {
      display: flex;
      flex-direction: row;
      padding-bottom: 1.6rem;

      .title {
        font-weight: bolder;
      }
    }

    table {
      background-color: #fff;
      font-weight: 1.4rem;
    }
  }

  .header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    .title {
      display: flex;
      flex-direction: row;

      p {
        font-weight: bolder;
        font-size: larger;
      }

      .fill-remaining-space {
        flex: 1 1 auto;
      }

      .actions {
        display: flex;
        flex-direction: row;

        :nth-child(2) {
          margin: 0rem 0.2rem 0rem 0.2rem;
        }
      }
    }
  }
}

.user-info-cell {
  text-align: left;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.ag-header-cell-text {
  color: #000 !important;
  font-size: 1.1rem !important;
  font-weight: bolder !important;
}

.td,
.th {
  font-size: $table-fontSize !important;
  border-bottom: 0.1rem solid $table-color;
  border-top: none !important;
}

.th {
  font-weight: bold;
}
