@import '~assets/scss/variables';
@import '~assets/scss/colors.scss';
$filter-height: 7.6rem;
$table-fontSize: 1.3rem;

.manage-access-requests {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;

  .ScrollContainer {
    padding: 1.6rem 3.2rem;
    flex-grow: 1; // because all parents are flex and have flex-grow set to 1 this takes all available space - calc no longer needed!
    overflow: auto;

    .TableToolbar {
      display: flex;
      flex-direction: row;
      padding-bottom: 1.6rem;

      .title {
        font-weight: bolder;
      }
    }

    table {
      background-color: #fff;
      font-weight: 1.4rem;
    }
  }

  .header {
    margin-bottom: 1rem;
    margin-top: 1rem;
    .title {
      display: flex;
      flex-direction: row;

      p {
        font-weight: bolder;
        font-size: larger;
      }

      .fill-remaining-space {
        flex: 1 1 auto;
      }

      .actions {
        display: flex;
        flex-direction: row;

        :nth-child(2) {
          margin: 0rem 0.2rem 0rem 0.2rem;
        }
      }
    }
  }
}

.user-info-cell {
  text-align: left;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.ag-header-cell-text {
  color: #000 !important;
  font-size: 1.1rem !important;
  font-weight: bolder !important;
}
