**/sh.exe.stackdump
**/tmpnodejsnpm-cache
**/PAIMS_PIMS/obj
bash.exe.stackdump
*.env
*.orig
*.param
*.ispac
.vs
.scannerwork/
.sonarqube/
.DS_Store
auth/keycloak/config/hsperfdata_jboss/
auth/keycloak/config/*.log
trufflehog_report.*
datastore.xml
**/.vscode/
etl/**/obj
*.database
*.bak
*._*
bin/
obj/
