@import '@/assets/scss/colors.scss';

.multiSelectContainer li:hover {
  background: #1967d2 !important;
}

.highlightOption {
  background: #1967d2 !important;
}

.search-wrapper {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.search-wrapper input {
  margin-top: 5px !important;
}

.chip {
  margin-top: 5px;
}
