@import '~assets/scss/colors.scss';

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;

  &.btn {
    height: auto;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  // FIXME:This is here to deal with !important on buttons.scss
  // Needs to be addressed as part of a larger refactoring of frontend styling
  &.btn-link {
    font-weight: 400;
    color: $link-color;
    text-decoration: none;
    min-height: 2.5rem;
    line-height: 3rem;
    padding: 0;
    justify-content: left;

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
      background-color: transparent !important;
    }

    &:focus,
    &.focus {
      text-decoration: underline;
      background-color: transparent !important;
      box-shadow: none;
    }

    &:active,
    &.active {
      background-color: transparent !important;
    }

    &:disabled,
    &.disabled {
      color: $disabled-color;
      background-color: transparent !important;
      pointer-events: none;
    }
  }

  &--disabled {
    background-color: #fafbfc;
    color: #959da5;
    border-color: rgba(27, 31, 35, 0.15);
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--icon-only {
    .Button__icon {
      margin-right: 0;
    }
  }

  &__icon {
    margin-right: 1.6rem;
  }
}
