.input-group {
  flex-wrap: nowrap;
  width: unset;

  .input-group-prepend {
    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relative;
      z-index: 2;
    }
  }

  & .input-group-content {
    .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
