@import './colors.scss';
@import './variables';

:export {
  mapfilterHeight: $mapfilter-height;
  footerHeight: $footer-height;
  headerHeight: $header-height;

  primaryColor: $primary-color;
  primaryLightColor: $primary-light-color;
  secondaryVariantColor: $secondary-variant-color;
  lightVariantColor: $light-variant-color;
  darkVariantColor: $dark-variant-color;
  textColor: $text-color;
  formBackground: $form-background-color;
  dropdownBackgroundColor: $dropdown-background-color;
  accentColor: $accent-color;
  lightAccentColor: $light-accent-color;
  sresIconColor: $sres-icon-color;
  dangerColor: $danger-color;
  lightDangerColor: $light-danger-color;
  iconLightColor: $icon-light-color;
  activeColor: $active-color;
  completedColor: $completed-color;
  filterBackgroundColor: $filter-background-color;
  slideOutBlue: $slide-out-blue;

  tableColor: $table-color;
  tableHeaderColor: $table-header-bg-color;
}
