@import './colors.scss';

.nav-tabs .nav-item.nav-link {
  background-color: $primary-color;
  color: white;
  font-size: 1.4rem;
  padding: 0.8rem 3.2rem;
  border: none;
  border: 0.1rem solid white;
}

.nav-tabs .nav-item.nav-link.active {
  background-color: $secondary-variant-color;
}

.nav-tabs .nav-item.nav-link.tabError {
  background-color: $danger-color;
}
.nav-tabs .nav-item.nav-link.tabError.active {
  background-color: #fa666b;
}

.tab-content {
  border: 0.1rem solid $primary-light-color;
  border-top: 0.1rem solid white;
  padding: 3.2rem 0;
}
