version: "3.5"

services:
  logging:
    restart: on-failure:1
    container_name: pims-logging
    build:
      context: .
    image: pims-logging:latest
    environment:
      SLEEP_TIME: ${SLEEP_TIME}
      AZ_BLOB_URL: "${AZ_BLOB_URL}"
      TZ: "${TZ}"
      AZ_BLOB_CONTAINER: "${AZ_BLOB_CONTAINER}"
      AZ_SAS_TOKEN: "${AZ_SAS_TOKEN}"
      FRONTEND_APP_NAME: "${FRONTEND_APP_NAME}"
      API_NAME: "${API_NAME}"
      PROJECT_NAMESPACE: "${PROJECT_NAMESPACE}"
      EXPORT_TIME: ${EXPORT_TIME}
      OC_TOKEN: "${OC_TOKEN}"
      OC_SERVER: "${OC_SERVER}"
    volumes:
      - logging-data:/tmp
    networks:
      - pims-logging

####################### Networks Definition #######################
networks:
  pims-logging:
    name: pims-logging-net
    driver: bridge

####################### Volumes Definition #######################
volumes:
  logging-data:
    name: pims-logging-data
