@import './colors.scss';
@import './variables';

:export {
  healthcheckHeight: $healthcheck-height;
  mapfilterHeight: $mapfilter-height;
  footerHeight: $footer-height;
  headerHeight: $header-height;

  // map popup
  highlightBackgroundColor: $highlight-background-color;
  // buttons
  borderOutlineColor: $border-outline-color;

  // Colors
  pimsGreen80: $pims-green-80;
  pimsWhite: $pims-white;
  pimsBlue10: $pims-blue-10;
  pimsBlue200: $pims-blue-200;
  pimsGrey80: $pims-grey-80;
  warningBackgroundColor: $warning-background-color;
  numberBackgroundColor: $number-background-color;
  dangerBackgroundColor: $danger-background-color;
  filterBoxColor: $filter-box-color;
  filterBackgroundColor: $highlight-background-color;
  textWarningColor: $text-warning-color;
  linkColor: $link-color;
  linkHoverColor: $link-hover-color;
  focusNavbarActionColor: $focus-navbar-action-color;
  activeActionColor: $active-action-color;
  primaryHoverActionColor: $primary-hover-action-color;
  primaryActiveActionColor: $primary-active-action-color;
  hoverActionColor: $hover-action-color;
  headerTextColor: $header-text-color;
  headerBorderColor: $header-border-color;

  fileStatusGreyColor: $file-status-grey-color;
  fileStatusGreyBackgroundColor: $file-status-grey-background-color;

  fileStatusBlueColor: $file-status-blue-color;
  filterBoxColor: $filter-box-color;

  completedColor: $completed-color;
  completedBackgroundColor: $completed-background-color;

  fontDangerColor: $font-danger-color;

  variableColor: $variable-color;

  uploadFileCheckColor: $upload-file-check-color;
  iconBlueAction: $icons-color-secondary;
  iconBlueHover: $icons-hover-secondary;
}
