@import './colors.scss';
@import './variables';

:export {
  mapfilterHeight: $mapfilter-height;
  footerHeight: $footer-height;
  headerHeight: $header-height;

  // map popup
  highlightBackgroundColor: $highlight-background-color;
  // buttons
  borderOutlineColor: $border-outline-color;

  // Colors
  dangerBackgroundColor: $danger-background-color;
  actionColor: $action-color;
  filterBoxColor: $filter-box-color;
  fontWarningColor: $font-warning-color;
  formBackgroundColor: $form-background-color;
  linkColor: $link-color;
  linkHoverColor: $link-hover-color;
  primaryHoverColor: $primary-hover-color;
  secondaryVariantColor: $secondary-variant-color;
}
