@import './colors.scss';
@import './variables';

:export {
  mapfilterHeight: $mapfilter-height;
  footerHeight: $footer-height;
  headerHeight: $header-height;

  // map popup
  highlightBackgroundColor: $highlight-background-color;
  // buttons
  borderOutlineColor: $border-outline-color;

  // Colors
  warningBackgroundColor: $warning-background-color;
  numberBackgroundColor: $number-background-color;
  dangerBackgroundColor: $danger-background-color;
  filterBoxColor: $filter-box-color;
  textWarningColor: $text-warning-color;
  linkColor: $link-color;
  linkHoverColor: $link-hover-color;
  activeActionColor: $active-action-color;
  headerTextColor: $header-text-color;
  headerBorderColor: $header-border-color;

  disabledColor: $disabled-color;
  disabledFieldBackgroundColor: $disabled-field-background-color;

  slideOutBlue: $slide-out-blue;
  filterBoxColor: $filter-box-color;


  filterBoxColor: $filter-box-color;

  completedColor: $completed-color;
  selectedColor: $selected-color;

  fontDangerColor: $font-danger-color;
}
