@import './styles.scss';

.Toastify__toast.Toastify__toast--dark {
  color: #fff;
  background-color: var(--surface-color-background-dark-blue);
}

.Toastify__toast .Toastify__toast-body {
  word-break: break-word;
}

.Toastify__toast {
  word-break: break-word;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem black);
}

.Toastify__toast.Toastify__toast--warning {
  color: var(--typography-color-secondary);
  background-color: var(--support-surface-color-warning);
}

.Toastify__toast.Toastify__toast--error {
  color: #fff;
  background-color: var(--surface-color-primary-danger-button-default);
}

.tooltip {
  pointer-events: none;
  font-size: 1.4rem;
  z-index: 99999;
}

.dropdown-menu {
  font-size: 1.6rem;
}

.h4 {
  font-size: 2.4rem;
}

.invalid-feedback {
  display: block !important;
}

// see https://github.com/Hacker0x01/react-datepicker/issues/624
.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
}
.react-datepicker__navigation--previous {
  left: 1em;
}
.react-datepicker__navigation--next {
  right: 1em;
}

a {
  color: $link-color;
  &:link:not(.nav-item, .dropdown-toggle, .dropdown-item) {
    text-decoration: underline;
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.spinner-border {
  max-width: 3.2rem;
  max-height: 3.2rem;
  flex-grow: 0 !important;
}

#root {
  // React-bootstrap toast global styling
  .toast {
    font-size: 1.4rem;
  }

  .page-link {
    padding: 0.8rem 1.2rem;
    color: $link-color;
    border-color: $link-color;
    border-top-width: 0.2rem;
    border-bottom-width: 0.2rem;
    &:hover {
      border-color: $link-hover-color;
    }
  }

  .page-item.active .page-link {
    color: #fff;
    background-color: $link-color;

    &:hover {
      background-color: $link-hover-color;
    }
  }

  .page-item:last-child .page-link,
  .page-item:first-child .page-link {
    color: $link-color;
    border-color: $link-color;
    font-weight: 700;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      border-color: $link-hover-color;
    }
  }

  .error {
    color: var(--surface-color-primary-danger-button-default);
  }

  .btn.btn-success,
  .btn.btn-success:active {
    background-color: --support-border-color-success;
  }

  ul.pagination li {
    cursor: pointer;
  }

  //React table global styling
  .table .tr .td {
    word-break: break-word;
    a {
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  .table .th.reset-filter.svg-btn {
    display: none;
  }

  select.form-control.is-invalid {
    background-image: none;
    padding-right: 1.2rem;
  }

  //by default, highlight dropdown options blue
  .dropdown-item,
  .dropdown-header {
    color: var(--typography-color-secondary);
    &:hover {
      color: #fff;
      background-color: $link-hover-color;
    }
  }
}
