$primary-hover-color: #335c85;
$secondary-variant-color: #428bca;
$border-outline-color: #606060;
$form-background-color: #ced4da;
$warning-background-color: #fef1d8;
$danger-background-color: #f2dede;
$highlight-background-color: #f2f2f2;
$action-color: #bcbec5;
$filter-box-color: #d9eaf7;
$link-color: #1a5a96;
$link-hover-color: #0056b3;
$font-warning-color: #6c4a00;
