$primary-color: #003366;
$primary-light-color: #38598a;
$secondary-variant-color: #428bca;
$light-variant-color: #606060;
$dark-variant-color: #121212;
$text-color: #494949;
$form-text-color: #212529;
$form-control-text-color: #495057;
$form-background-color: #d9d9d9;
$dropdown-background-color: #32507c;
$accent-color: #fcba19;
$light-accent-color: #fcd573;
$sres-icon-color: #172b4d;
$danger-color: #d8292f;
$danger-background-color: #f2dede;
$light-danger-color: #fae1e7;
$icon-light-color: #3b99fc;
$active-color: #007bff;
$completed-color: #2e8540;
$filter-background-color: #f2f2f2;
$slide-out-blue: #1a5a96;
$selected-color: #dff0d8;
$dark-blue: #313132;
$primary-background-color: white;
$primary-border-color: #aaaaaa;
$disabled-color: #959da5;
$disabled-field-background-color: #e9ecef;
$discarded-color: #bcbec5;
$filter-box-color: #d9eaf7;
$draft-color: #1976d2;
$link-color: #1a5a96;
$link-hover-color: #0056b3;
$subtle-color: #aaaaaa;
$summary-color: #f9f1c6;
$summary-border-color: #fcba19;
// table ui
$table-hover-color: #dee2e6;
$table-header-text-color: #494949;
$table-header-bg-color: #ffffff;
$table-header-border-color: #8c8c8c;
$table-column-border-color: #f2f2f2;
$table-even-row-bg-color: #f2f2f2;
$table-odd-row-bg-color: #ffffff;
// text headings - H1, H2 etc
$heading-text-color: #494949;
$heading-border-color: #666666;
// map popup
$map-popup-background-color: #fffefa;
// buttons
$button-info-color: #909090;
