@import 'colors.scss';
@import 'fonts.scss';

html {
  font-size: 62.5%; // This sets 10px to 1rem. https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'BCSans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//by default, invalid fields are outlined in red
.form-row .form-control.is-invalid {
  background-image: none;
  border-color: $danger-color;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  input {
    width: 100%;
  }
}

select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
