@import 'colors.scss';
@import 'fonts.scss';

html {
  font-size: 62.5%; // This sets 10px to 1rem. https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'BCSans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

$spacer: 1.6rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 50 {
  $spacers: map-merge(
    $spacers,
    (
      $i: (
        ($i * 0.25) * $spacer,
      ),
    )
  );
}

@each $size, $length in $spacers {
  @if '#{$size}'!='0' {
    .m-#{$size} {
      margin: $length !important;
    }
    .mt-#{$size},
    .my-#{$size} {
      margin-top: $length !important;
    }
    .mr-#{$size},
    .mx-#{$size} {
      margin-right: $length !important;
    }
    .mb-#{$size},
    .my-#{$size} {
      margin-bottom: $length !important;
    }
    .ml-#{$size},
    .mx-#{$size} {
      margin-left: $length !important;
    }
  }
}

@each $size, $length in $spacers {
  @if '#{$size}'!='0' {
    .p-#{$size} {
      padding: $length !important;
    }
    .pt-#{$size},
    .py-#{$size} {
      padding-top: $length !important;
    }
    .pr-#{$size},
    .px-#{$size} {
      padding-right: $length !important;
    }
    .pb-#{$size},
    .py-#{$size} {
      padding-bottom: $length !important;
    }
    .pl-#{$size},
    .px-#{$size} {
      padding-left: $length !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//by default, invalid fields are outlined in red
.form-row .form-control.is-invalid {
  background-image: none;
  border-color: var(--surface-color-primary-danger-button-default);
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  input {
    width: 100%;
    &.is-invalid {
      background-image: none;
    }
  }
}

select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
