@import '@/assets/scss/colors.scss';

.basemap-container {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.8rem;
  border: 0.2rem solid white;
  box-shadow: 0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
  background-color: #ccc;
  color: $light-variant-color;
  width: 7.5rem;
  height: 7.5rem;
  margin: 1em;
  transition: opacity 0.25s ease-in-out;
  z-index: 600;

  .caption {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0.6rem;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    line-height: normal;
    padding: 1.2rem 0rem 0.6rem 0rem;
    margin-bottom: 0;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    text-indent: 0.6rem;
    text-shadow: rgba(0, 0, 0, 0.7) 0rem 0.1rem 0.8rem;
    text-align: left;
    z-index: 590;
  }

  .basemap-item {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 0.8rem;
    overflow: hidden;
    z-index: 550;
    background-color: rgba(255, 255, 255, 0.01);
    display: none;
    &.secondary {
      z-index: 551;
      display: block;
    }
    &-button {
      cursor: pointer;
    }
  }
}
