# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: FT-Smoke-Test
env:
  Base_url: ${{ vars.BASE_URL }}
  CloseBrowserAfterEachTest: false
  RunHeadless: true
  Users__0__User: ${{ secrets.USER_1_USERNAME }}
  Users__0__Password: ${{ secrets.USER_1_PASSWORD }}
  Users__1__User: ${{ secrets.USER_2_USERNAME }}
  Users__1__Password: ${{ secrets.USER_2_PASSWORD }}
on:
  workflow_dispatch
  #push:
  #  branches: [master, dev, test]
  #pull_request:
  #  branches: [master, dev, test]

jobs:
  smoke-test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Install Chrome Browser
        run: |
          sudo apt update
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb

      - name: Restore dependencies
        run: dotnet restore ./testing/PIMS.Tests.Automation/PIMS.Tests.Automation.sln
      - name: Build
        run: dotnet build ./testing/PIMS.Tests.Automation/PIMS.Tests.Automation.sln --no-restore
      - name: Test
        run: dotnet test ./testing/PIMS.Tests.Automation/PIMS.Tests.Automation.csproj --no-build --verbosity normal --filter Category=Smoke-Test
      - name: Upload Report
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Test Results
          path: ${{github.workspace}}/reports
