name: Release
env:
  MS_TEAMS_WEBHOOK_BUILD_CHANNEL: ${{ secrets.MS_TEAMS_WEBHOOK_URI_BUILD_CHANNEL }}

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Setup git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Create release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PREV_TAG=$(git describe --abbrev=0 --tags "${{ github.ref }}^")
          echo "Previous release found: $PREV_TAG"

          make release tag="${{ github.ref_name }}" previous_tag="$PREV_TAG"

          RELEASE_VERSION=${{ github.ref_name }}
          RELEASE_URL=$(gh release view ${{ github.ref_name }} --json url --jq '.url')

          echo "release_version=${RELEASE_VERSION}" >> $GITHUB_OUTPUT
          echo "release_url=${RELEASE_URL}" >> $GITHUB_OUTPUT

      # This is so we can use a "Card Message" template for notifications and replace it with relevant values; e.g. __RELEASEVERSION__ etc
      # Template found in: .github/notifications/
      - uses: bluwy/substitute-string-action@v1
        id: sub
        with:
          _input-file: .github/notifications/release_template.json
          _format-key: __key__
          _output-file: release_notification.json
        env:
          INPUT_REPO: ${{ github.repository }}
          INPUT_RELEASEVERSION: ${{ steps.create_release.outputs.release_version }}
          INPUT_RELEASEURL: ${{ steps.create_release.outputs.release_url }}

      # Send notifications only if MS_TEAMS_WEBHOOK_BUILD_CHANNEL secret has been set
      - name: Post notification to MS Teams
        if: env.MS_TEAMS_WEBHOOK_BUILD_CHANNEL != ''
        run: |
          curl -H 'Content-Type: application/json' ${{ env.MS_TEAMS_WEBHOOK_BUILD_CHANNEL }} --data @release_notification.json
